* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#modal.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal > #modal-content {
  position: relative;
}
